html {
    scroll-behavior: smooth;
}
body {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
h1 {
    margin:0;
    padding: 40px;
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
p {
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    color: #444;
    margin-bottom: 1000px;
}
button {
    position:fixed;
    right: 5px;
    bottom:5px;
    border:none;
    padding: 12px 18px;
    background-color: tomato;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}